fastapi~=0.115.12
uvicorn~=0.34.0
opencv-python-headless
numpy~=1.26.4
scikit-learn~=1.6.1
python-multipart~=0.0.20
rembg~=2.0.65
pillow~=11.1.0
ultralytics~=8.3.104
onnxruntime~=1.17.1
torch~=2.6.0
torchvision~=0.21.0
fuzzywuzzy~=0.18.0
openai~=1.72.0
flask-cors
dotenv~=0.9.9

